$main-color: #dfc7c7;
$secondary-color: #110c08e3;
$third-color: #cfbaa68a;
$pure-white: #fff;
$pure-blue: #179797;
$dark-blue: #035858;

$bg-pure-blue: #17979725;
$light-brown-gradient: radial-gradient(circle, rgba(109, 93, 59, 0.89) 0%, rgba(89, 163, 197, 0.904) 100%);
