@media (min-width: 768px) {
	.header {
		&__box {
			margin-top: 1em;
			img {
				width: 30%;
			}

			&-title {
				font-size: 3.4rem;

				span {
					font-size: 2.6rem;
				}
			}

			&-text {
				font-size: 2rem;
				letter-spacing: 5px;
			}

			&-btn {
				width: 60%;
				max-width: 500px;
				font-size: 1.8rem;
			}
		}
	}
	//
	.about-me {
		padding: 6em 1em;

		&__img {
			width: 400px;
			height: 400px;
		}
		&__info {
			font-size: 2rem;
			line-height: 50px;
		}
	}
	//
	.offers {
		padding: 6em 1em;

		&__cards {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
		}

		&__card {
			width: 45%;
			margin: 1em;

			&-info {
				&-list {
					margin-top: 7em;
				}
			}
		}
	}

	//

	.cooperation {
		padding: 6em 1em;
		&__box {
			padding: 4em;

			&-title {
				margin-bottom: 2em;
				font-size: 2.6rem;
			}

			&-icon {
				i {
					font-size: 9rem;
				}
			}

			&-text {
				font-size: 1.8rem;
			}
		}
	}
	//
	.social {
		padding: 6em 1em;

		&__box {
			height: 100%;
		}
	}

	//

	.contact {
		position: relative;
		padding: 6em 1em;

		.section-heading {
			font-size: 3.4rem;
		}
	}

	//
	.footer {
		&__boxes {
			display: flex;
			justify-content: space-between;
		}

		&__box-desktop {
			display: block;
		}

		&__box {
			margin: 0 2em;
			width: 25%;

			&:first-child {
				width: 50%;
			}
		}

		&__box-title {
			font-size: 2.4rem;
		}

		&__box-list {
			list-style: none;
		}
		&__box-list-item {
			margin-bottom: 1em;

			a {
				text-decoration: none;
				color: #fff;
				&:hover {
					color: $pure-white;
				}
			}
		}
	}
}
